/*----- Scroll bar -----*/

::-webkit-scrollbar {
  width: 10px;
}

::-webkit-scrollbar-track {
  background: #f1f1f1;
}

::-webkit-scrollbar-thumb {
  background: linear-gradient(-45deg, #007bff 0%, blue 100%);
  border-radius: 5px;
  opacity: 0.5;
}

::-webkit-scrollbar-thumb:hover {
  background: #454545;
}

/*----- HTML basic styles -----*/

body {
  text-decoration: none;
  max-width: 1440px;
  margin: 0 auto;
  background-color: white;
}

h1 {
  font-size: 2em;
}
h2 {
  font-size: 1.5em;
}
h3 {
  font-size: 1.17em;
}
h4 {
  font-size: 1.12em;
}
h5 {
  font-size: 0.83em;
}
h6 {
  font-size: 0.75em;
}

a {
  color: blue;
  text-decoration: none !important;
}

.text-primary {
  color: blue !important;
}

.btn-primary {
  background: blue;
  color: white;
  border: 1px solid blue;
}

.btn-primary:hover {
  background: #007bff;
  color: white;
  border: 1px solid #007bff;
}

.btn-outline-primary {
  background-color: transparent;
  border: 1px solid blue;
  color: blue;
}

.btn-outline-primary:hover {
  background-color: blue;
  color: white;
  border: 1px solid blue;
}

.box-shadow {
  box-shadow: 4px 0 20px -5px rgba(0, 0, 0, 0.2);
}

.line-height {
  line-height: 25px;
}

.bg-gradient {
  background: linear-gradient(-45deg, #007bff 0%, blue 100%);
}

/*----- Navbar -----*/

.navbar {
  max-width: 1440px;
  margin: 0 auto;
  padding-top: 15px;
  padding-bottom: 15px;
}

.navbar-brand {
  font-size: 22px;
  font-family: "Poppins", sans-serif;
}

.navbar-brand img {
  height: 30px;
}

.nav-link {
  font-size: 15px;
  font-weight: 600;
}

.navbar-dark .navbar-nav .nav-link {
  color: rgba(255, 255, 255, 0.8);
}

.navbar-dark .navbar-nav .nav-link:hover {
  color: #ffffff;
}

.navbar-light .navbar-toggler,
.navbar-dark .navbar-toggler {
  border: none;
  outline: none;
}

@media screen and (max-width: 450px) {
  .navbar {
    padding-top: 10px;
    padding-bottom: 10px;
  }
}

/*----- Dropdown -----*/

.dropdown-menu {
  border: none;
  box-shadow: 4px 0 20px -5px rgba(0, 0, 0, 0.2);
  border-radius: 12px;
  margin-top: 10px;
  padding: 0;
}

.dropdown-item {
  color: #66615b;
  font-size: 14px;
  padding: 10px 45px 10px 15px;
}

.dropdown-item:hover {
  background: linear-gradient(-45deg, #007bff 0%, blue 100%);
  color: white;
}

.dropdown-divider {
  margin: 0;
}

.dropdown-menu .dropdown-item:first-child {
  border-top-left-radius: 12px;
  border-top-right-radius: 12px;
}

.dropdown-menu .dropdown-item:last-child {
  border-bottom-left-radius: 12px;
  border-bottom-right-radius: 12px;
}

.navbar-nav .dropdown-menu:after,
.dropdown .dropdown-menu[x-placement="bottom-start"]:after,
.dropdown .dropdown-menu[x-placement="bottom-end"]:after,
.card.card-just-text .dropdown .dropdown-menu:after,
.card-just-text .dropdown .dropdown-menu:after,
.dropdown-btn .dropdown-menu:after {
  border-bottom: 11px solid #ffffff;
  border-left: 11px solid transparent;
  border-right: 11px solid transparent;
  content: "";
  display: inline-block;
  position: absolute;
  right: 12px;
  top: -11px;
}

/*----- Header section -----*/

.hero-section {
  position: relative;
  color: white;
}

.hero-section .wave {
  width: 100%;
  overflow: hidden;
  position: absolute;
  bottom: -125px;
  z-index: 1;
}

.hero-section .wave svg {
  width: 100%;
}

.hero-section,
.hero-section > .container > .row {
  height: 100vh;
}

.hero-section > .inner-page {
  height: 70vh;
  min-height: 0;
}

.hero-section.inner-page .hero-text {
  -webkit-transform: translateY(-150px);
  transform: translateY(-150px);
  margin-top: -120px;
}

.hero-section h1 {
  font-size: 3.4rem;
  color: #fff;
  font-weight: 700;
}

.blog-h1 {
  font-size: 3rem !important;
}

@media screen and (max-width: 992px) {
  .hero-section h1 {
    font-size: 2.8rem;
  }
  .blog-h1 {
    font-size: 2.8rem !important;
  }
}

@media screen and (max-width: 450px) {
  .hero-section h1 {
    font-size: 2rem;
  }
  .blog-h1 {
    font-size: 2rem !important;
  }
}

/*----- Card -----*/

.card {
  overflow: hidden;
}

.card-header {
  border: none;
  background-color: white;
}

.card-footer {
  border: none;
  background-color: white;
}

.article img {
  width: 100%;
  height: auto;
  border-radius: 4px;
}

.article p {
  text-align: justify;
  font-size: 16px;
}

@media screen and (max-width: 450px) {
  .author-social {
    justify-content: center;
  }
  .article h1 {
    font-size: 24px;
  }
  .article h2 {
    font-size: 21px;
  }
}

/*----- Category -----*/

.category .card {
  border: none;
  background-color: rgba(0, 0, 255, 0.062);
}

.category span i {
  font-size: 25px;
}

/*----- Site-section -----*/

.site-section {
  padding: 4em 0;
}

.section-heading {
  font-size: 2.5rem;
  font-weight: 700;
  background: linear-gradient(-45deg, #007bff 0%, blue 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.first-section {
  padding-top: 4rem;
  padding-bottom: 4rem;
  z-index: 2;
  position: relative;
}

@media screen and (max-width: 992px) {
  .section-heading {
    font-size: 2rem;
  }
}

@media screen and (max-width: 450px) {
  .site-section {
    padding: 2em 0;
  }
  .first-section {
    padding-top: 2rem;
    padding-bottom: 2rem;
  }
}

/*----- Footer -----*/

.newsletter {
  background-color: rgba(0, 0, 255, 0.062);
}

.newsletter h2 {
  background: linear-gradient(-45deg, #007bff 0%, blue 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  font-size: 3rem;
  font-weight: 700;
}

@media screen and (max-width: 768px) {
  .newsletter h2 {
    font-size: 1.8rem;
  }
}

.foot h2 a {
  font-size: 2.8rem;
  font-weight: 600;
  text-decoration: none;
  letter-spacing: 2px;
}

@media screen and (max-width: 768px) {
  .foot h2 a {
    font-size: 2rem;
  }
}

.foot p a {
  text-decoration: none;
  color: #00000080;
  transition-duration: 0.3s;
  font-weight: 600;
  font-size: 15px;
}

.foot p a:hover {
  color: black;
}

.likeimage a {
  text-decoration: none;
  color: #454545;
  font-size: 18px;
}

.facebook:hover {
  color: #3b5998;
}

.instagram:hover {
  color: #dd2a7b;
}

.twitter:hover {
  color: #00acee;
}

.linkedin:hover {
  color: #0e76a8;
}

/*---------- PAGINATION ----------*/

.pagination-list {
  text-align: center;
  margin: 40px 0px 20px 0px;
}

.pagination {
  list-style-type: none;
  padding: 10px 0;
  display: inline-flex;
  justify-content: space-between;
  box-sizing: border-box;
}

.pagination li {
  box-sizing: border-box;
  padding-right: 10px;
}

.pagination li a {
  box-sizing: border-box;
  background-color: #e2e6e6;
  padding: 8px;
  text-decoration: none;
  font-size: 12px;
  font-weight: bold;
  color: #454545;
  border-radius: 4px;
}

.pagination li a:hover {
  background-color: #d4dada;
}

.pagination .next a,
.pagination .prev a {
  text-transform: uppercase;
  font-size: 12px;
}

.pagination .currentpage a {
  background-color: blue;
  color: #fff;
}

.pagination .currentpage a:hover {
  background-color: blue;
  color: #fff;
}

/*----- Testimonial Carousel -----*/

.review h3 {
  font-size: 20px;
}

.review p {
  line-height: 1.8;
  font-style: italic;
  color: #333333;
}

.review .stars span {
  color: #ff8803;
}

.review .stars .muted {
  color: #ccc;
}

.review .review-user img {
  width: 70px;
  margin: 0 auto;
}

.testimonial-carousel .owl-dots {
  position: absolute;
  bottom: -40px;
  width: 100%;
  text-align: center;
}

.testimonial-carousel .owl-dots .owl-dot {
  display: inline-block;
}

.testimonial-carousel .owl-dots .owl-dot > span {
  display: inline-block;
  width: 7px;
  height: 7px;
  background-color: #cbd3da;
  border-radius: 50%;
  margin: 5px;
}

.testimonial-carousel .owl-dots .owl-dot.active {
  outline: none;
}

.testimonial-carousel .owl-dots .owl-dot.active > span {
  background: linear-gradient(-45deg, #007bff 0%, blue 100%);
}

/*----- Scroll to top -----*/

.back-to-top {
  position: fixed;
  display: none;
  background: linear-gradient(-45deg, #007bff 0%, blue 100%);
  color: #fff;
  width: 38px;
  height: 38px;
  text-align: center;
  line-height: 1;
  font-size: 16px;
  border-radius: 50%;
  right: 15px;
  bottom: 15px;
  z-index: 11;
}

.back-to-top i {
  color: #fff;
  font-size: 18px;
  position: absolute;
  top: 9px;
  left: 13.5px;
}

@media screen and (max-width: 450px) {
  .back-to-top {
    bottom: 10px;
    right: 10px;
    width: 30px;
    height: 30px;
  }
  .back-to-top i {
    font-size: 16px;
    top: 7px;
    left: 10px;
  }
}

/*----- Other CSS -----*/

div.table-responsive > div.dataTables_wrapper > div.row {
  margin: 10px 5px;
}

@media screen and (min-width: 768px) {
  .justify-content-md-left {
    justify-content: left !important;
  }
}

@media screen and (max-width: 767px) {
  .d-sm-none {
    display: none !important;
  }
}

hr {
  margin: 0;
}

::selection {
  color: blue;
  background-color: rgba(0, 0, 255, 0.062);
}
